[2019-09-27 09:38] salaboy opened #1 "Add Standalone gateway and separate brokers"
Like here:
https://github.com/camundacon2019/zeebe-ft-demo/blob/master/docker-compose.yml

[2019-10-22 10:07] salaboy opened #2 "Add variable for log level"
Currently is hardcoded to Debug

[2019-10-22 10:07] salaboy commented on #2
https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/templates/statefulset.yaml#L31

[2019-11-15 16:43] PashCracken opened #4 "Version of elasticsearch helm chart used is not compatible with k8s version 1.16"
Hi,

Version 7.3.0 of elasticsearch helm charts are not compatile with k8s version 1.16. It uses deprecated apiVersions.
Can you please update the version of the elasticsearch helm charts you use from version 7.3.0 to latest. The newer version has updated apiVersion so it will work with newer versions of k8s.

This issue is currently blocking us from deploying Zeebe to our Kubernetes cluster

Than

[2019-11-15 22:39] salaboy commented on #4
@PashCracken thank you for reporting this issue, it is highly appreciated. Did you manually tested Zeebe with that version of the elastic search chart? I will be more than happy to review and release if you provide a PR for the change.

[2019-11-22 18:09] salaboy commented on #4
@PashCracken thank you for your PR. it was merged and released already.. version https://github.com/zeebe-io/zeebe-cluster-helm/releases/tag/v0.0.34 contains your changes .
If you are using the zeebe-full chart the new version pointing to 0.0.34 is -> https://github.com/zeebe-io/zeebe-full-helm/releases/tag/v0.0.18

Can you contact me via pvt message (email: salaboy at camunda or twitter @salaboy

[2019-11-22 18:09] #4 closed

[2019-11-22 20:51] salaboy commented on #4
@PashCracken Ok charts released with your changes on Operate as well:
https://github.com/zeebe-io/zeebe-full-helm/blob/master/dependency-matrix/matrix.md

[2020-01-06 09:58] dinilv opened #8 "Zeebe-Broker & Operator: Crashed"
Hi,
Zeebe version: _0.22_
Deployment: _latest using helm-charts_
Details: Operate and broker gets crashed after 1 week of installation. It is expected run with out.
If a broker crashed it doesnt automatically make the node available . makes the entire Zeebe down.

Installation: _7.5 GB 2CPU 4 Nodes on Kubernetes_

kubectl version:
[code]
Crash Logs:
Operate Crash Logs:
operate crash logs

rg.camun

[2020-01-06 10:27] salaboy commented on #8
@dinilv thanks for reporting.. do you have the broker logs?
On the Operate side, it might be ElasticSearch's persistent volume running out of space.  It will depend on how much data do you store there. We should make sure that the brokers are still fine.

[2020-01-06 10:28] salaboy commented on #8
@dinilv also, please format the output so it is readable.. it is impossible to understand without formatting.

[2020-01-06 10:45] dinilv commented on #8
@salaboy .. Sure will format and add then next time it crashes. We lost all logs for the time being. Will comment in near future.

[2020-01-06 11:12] salaboy commented on #8
@dinilv can you check also the PVC and how much disk was requested? you might need to expand that as needed.

[2020-01-06 11:13] salaboy commented on #8
@dinilv also.. when you say.. the latest HELM Charts.. it will be great if you can share which version exactly .

[2020-01-06 15:21] sdorokhova commented on #8
Hi @dinilv , it could also be useful to check Elasticsearch status after such crash.

[2020-01-07 04:23] dinilv commented on #8
@salaboy ,Will share those logs as mentioned.

[2020-01-07 09:43] dinilv commented on #8
@salaboy We have met with this exception within 24 hrs of deployment in kubernetes.
Details:

helm chart version:
x-zeebe  1               Mon Jan  6 16:12:34 2020        DEPLOYED        zeebe-full-0.0.27       1.0

`zbctl --insecure status
Cluster size: 3
Partitions count: 3
Replication factor: 3
Brokers:
  Broker 0 - goseller-zeebe-zeebe-0.goseller-zeebe-zeebe.default.svc.cluster.local:26501

[2020-01-07 09:48] salaboy commented on #8
@dinilv investigating....

[2020-01-07 10:21] dinilv commented on #8
Hi,
Mean While we are changing memory limit  from Zeebe-helm Chart ,

limits:
            cpu: "1"
            memory: 2Gi

[2020-01-07 10:28] salaboy commented on #8
@dinilv that is good.. the limits in the charts are just some suggestions for tests, not for running in production

[2020-01-07 10:30] salaboy commented on #8
@dinilv regarding your log, is the broker down? If you run a status again? is it failing? if you start a process does it fail?

[2020-01-07 10:37] dinilv commented on #8
Hi,

As i said we edited the memory to unlimted within kubernetes cluster . Looks like all issues sorted out, zeebe run into CrashLoop and we restarted it manually. Automatic restart was failing and taking time

[2020-01-07 10:38] dinilv commented on #8
Can u suggest any best practice for memory allocation ? Say running 50k workflows in a day

[2020-01-07 11:12] salaboy commented on #8
@dinilv it really depends on your use case and your environment, the whole point of using Helm Charts is to provide an easy way for you to experiment with different parameters. If you have a lot of requests per second you might benefit from having more CPUs and RAM available, but that is really up to how you use the Zeebe Brokers. Can we close this issue now?
Recommendations guidelines will come b

[2020-01-08 06:54] Zelldon opened #9 "Liveness probe should not use ready endpoint"
Currently the Broker does not support any liveness checks.
The liveness probe should not use the ready endpoint, since it can take up to the configured snapshotInterval to be ready for each partition.

On Broker start the partitions are recreated and start reprocessing from the last snapshot, this can take several minutes up to the configured snapshotInterval. After all partitions are ready the br

[2020-01-08 09:22] salaboy commented on #9
@Zelldon that is correct.. for such reason the initial interval is high.. but I will definitely love to see if we can expose one endpoint for that specifically. Is that doable? Can we create an issue? I might be able to work on it with some guidance..

[2020-01-08 09:28] Zelldon commented on #9
Unfortunately the start interval is not high enough. We already have an open issue for that. https://github.com/zeebe-io/zeebe/issues/2484 This is an ongoing topic for quite a while, but we have not found any satisfied solution yet.

I while ago I thought about doing this with help of metrics, does this make sense? Do you know how other systems do this? Maybe you can add your input at this topic.

[2020-01-08 09:57] salaboy commented on #9
@Zelldon should we remove it for now then? until we have something reliable to trust on the liveness probes?
In my experience that is why spring boot actuators are super useful. If we have a way in Zeebe to emit an event when everything is started, having an endpoint to externalize that should be super easy. I would go with that.

Using metrics sounds super complex .. I am not entirely sure about

[2020-01-08 10:06] Zelldon commented on #9
Yes this would also be my proposal.

This is actually the ready endpoint. It returns only a valid value when the startup phase is done.

[2020-01-08 10:07] Zelldon commented on #9
Maybe we can add a start up probe https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes

[2020-01-08 10:24] salaboy commented on #9
@Zelldon I like startup probes.. because if the `/ready` endpoint is returning 200 after init is done, we should be fine with it. I will give that a try before removing the livenessProbe

[2020-01-08 10:30] salaboy commented on #9
@Zelldon, unfortunately, we cannot use the startup probes just yet.. they were introduced too recently (V1.16) to be supported by most Kubernetes installations. In GKE the default is currently V1.13 and you can go to V1.15 max so we will need to wait for that.

[2020-01-08 10:49] salaboy commented on #9
Done Zeebe Cluster Helm V0.0.45 doesn't have the livenessProbes: https://github.com/zeebe-io/zeebe-cluster-helm/releases/tag/v0.0.45 if you are using the full chart you will need to use https://github.com/zeebe-io/zeebe-full-helm/releases/tag/v0.0.29

[2020-01-08 10:49] #9 closed

[2020-01-08 12:09] Zelldon commented on #9
Makes sense thanks @salaboy

[2020-01-17 10:56] Zelldon opened #10 "Expose Elasticsearch configuration"
Elasticsearch should be configurable (pvc size, max heap)

Currently limits:
[code]

PVC's
[code]

What we use in our benchmarks:
[code]

[2020-01-17 10:58] Zelldon opened #11 "Add curator as optional deployment"
The helm chart should be able to also deploy an curator job like:

**CFG Map**
[code]

**Cronjob**
[code]

[2020-01-17 11:00] Zelldon opened #12 "Add an optional service monitor for metrics"
Would be nice to have an optional service monitor to expose our metrics

[code]

[2020-01-17 11:01] Zelldon commented on #12
[code]

[2020-01-17 11:03] Zelldon opened #13 "More configuration for the Zeebe statefulset"
Currently we have several things differently configured for the zeebe statefulset

Example statefulset:
[code]

Important would be the java options, the limits like CPU and Memory but also the PVC size etc.

[2020-01-17 11:05] Zelldon opened #14 "Expose Zeebe configuration map"
Would it be possible to define a configuration map on helm installation? Honestly I'm not really familiar with the helm charts.

So for example what we often use is a config like this:

[code]

[2020-01-17 11:06] Zelldon opened #15 "Expose more config parameters"
In order to use the helm chart for our development and testing purposes we need to have more configuration options.

## Needed Configurations

I will collect in this issue configurations we need  and will create separate issues for each of them

 - [X] Elasticsearch should be configurable (pvc size, max heap) https://github.com/zeebe-io/zeebe-cluster-helm/issues/10
 - [ ] Would be nice to enable/d

[2020-01-18 09:25] salaboy commented on #8
Closing as no more feedback was provided. If you still have issues please open a new issue with the description of it.

[2020-01-18 09:25] #8 closed

[2020-01-18 09:28] salaboy commented on #10
@Zelldon hmm.. let's figure out what exactly is missing.. because we are using here the `elasticsearch` helm charts.. that means that all those properties are exposed already: https://github.com/elastic/helm-charts/tree/master/elasticsearch
Do we need more than the official charts are exposing?

[2020-01-18 09:31] Zelldon commented on #10
More then that no. Sorry was not aware that we already able configure that. So i can just use my config I posted above?

[2020-01-18 09:32] salaboy commented on #13
@Zelldon this is great.. but let's figure out which are the most important and the most frequent parameters that the team changes so we can start with them.
You mention:
- [] Java Options
- [] Limits CPU and Memory
- [] PVC size

Also.. if this is your default configuration, is it sensitive to have these configurations for a default setup of Zeebe?
If so, I would rather have these configuration va

[2020-01-18 09:35] Zelldon commented on #13
Actually we use them as default yes. After we found the right values, for the pvc for example, we are not changing them so often anymore. But still would be nice to have the possibility to do so.

[2020-01-18 09:36] salaboy commented on #13
@Zelldon totally.. I will add the PVC size value.. I am just trying to find which ones to do first that are more valuable for most common situations.

[2020-01-18 09:37] salaboy commented on #13
Notice that JavaOptions and CPU and Memory are already supported.. but not documented.. so I am updating the Chart Docs here: https://github.com/zeebe-io/zeebe-cluster-helm

[2020-01-18 09:37] Zelldon commented on #13
Cool thanks :+1:

[2020-01-18 09:56] salaboy commented on #10
@Zelldon no worries and yes.. you can use that under `elasticsearch:` in the values file, which is hierarchical to the chart dependencies.. if you find an issue with that let me know. If I have time I will give that a try in my cluster as well.

[2020-01-18 09:56] #10 closed

[2020-01-18 10:11] salaboy commented on #13
@Zelldon when you have time( probably not now) but can you please share the specs of the cluster that you are using to run the previous specs (plus ElasticSearch). It looks like the configs are quite resource-intensive, which might be fine to run benchmarks and production workloads but for newbie users, it might be quite a lot.
I tend to think that we should have a set of `values.yaml` files with

[2020-01-18 10:28] salaboy commented on #14
@Zelldon we already have the ConfigMap in the Helm Chart. This ConfigMap is already parameterizable but I wonder if we need more flexibility in there:
https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/templates/configmap.yaml#L30
Do you see something wrong in the default CM that we are providing in the Helm Charts (besides flexiblitity).

For some of those parameters that I

[2020-01-18 10:58] salaboy commented on #13
@Zelldon ok PVC configs added. I will release the changes later on..
I am currently thinking about:

[code]

Some weeks ago a community user contributed with the parameterization of `securityContext`
That means that we can have this.. but I wonder if we should have that as default.
Why do we need that?

[2020-01-18 11:08] salaboy commented on #12
@Zelldon totally, this is related with the Prometheus integration -> https://github.com/zeebe-io/zeebe-helm/issues/2
I will see if I can get it done asap.
The integration should work as ElasticSearch and Kibana in our current `zeebe-cluster` chart

[2020-01-19 09:44] salaboy commented on #12
@Zelldon done.. now prometheus is part of the Zeebe Cluster Helm Chart, it is disabled by default, but it can be enabled with `prometheus.enabled: true`

[2020-01-19 09:44] #12 closed

[2020-01-19 09:47] salaboy opened #16 "Expose Prometheus via Ingress with Zeebe Full Helm Chart"
Right now Prometheus can be deployed with a Zeebe Cluster, but in order to access grafana you need to port forward to it, this can be simplified by enabling the ingress in the prometheus chart and making sure that our Ingress Controller expose the right paths. This has proved to be challenging and time-consuming but I am sure that it can be done.

[2020-01-19 15:08] Zelldon commented on #12
Cool thanks 👍 you mean the prometheus operator or only the service monitor to expose the data ? I'm asking, because we normally deploy the prometheus operator in the default namespace and expose the data via the service monitor.

[2020-01-20 05:36] Zelldon commented on #12
Can we only deploy the service monitor, without the operator?

[2020-01-20 07:47] Zelldon commented on #13
I tend to think that we should have a set of values.yaml files with different profiles. Where one of these files will be the configuration that you shared, but the ones that come by default can be more limited for bootstrapping getting started environments.

I think it is fine to have per default very limited resources etc. If the user needs more or different value he should be able to configure i

[2020-01-20 07:47] #13 closed

[2020-01-20 07:51] Zelldon commented on #14
This will probably not work until we support all configurations via ENV variables in the broker right? Or will you convert env variables in your charts to toml configuration?

Agree, would be nice but this will probably not come before the next zeebe release.

I think it would be much easier for now if we just accept a complete configmap as configuration like:

[code]

We normally want to configur

[2020-01-20 09:18] Zelldon commented on #13
Maybe @menski or @npepinpe have an idea why we needed

[code]

[2020-01-20 09:20] Zelldon commented on #1
For our deployments/benchmark we will need this as well.

Here is a configuration we currently use to deploy a standalone gateway:

**Deployment:**
[code]

**Service:**
[code]

Might help to implement this.

[2020-01-20 09:33] menski commented on #13
We needed it for specific things we wanted to do during our benchmarks, namely profiling and changing network routes or similar.

[2020-01-20 09:45] Zelldon opened #17 "Add possibility to configure security context"
In our benchmarks we need to add capabilities like:

[code]

See discussion in https://github.com/zeebe-io/zeebe-cluster-helm/issues/13#issuecomment-576181028

[2020-01-20 09:45] Zelldon commented on #13
Created new issue for it

[2020-01-20 14:39] salaboy commented on #17
I think that this is supported already.. but not the default .. did you give it a try ?

[2020-01-20 14:43] salaboy commented on #13
@Zelldon I think that your example values.yaml file should be used as core zeebe team profile.. I will try to provide some alternatives to document and show these examples for different purposes.

[2020-01-20 14:47] salaboy commented on #12
@Zelldon I think that is supported already.. The Chart will deploy the Service Monitor automatically and if prometheus is turned off it will not be deployed.. is that enough?
Maybe we need to parameterize the ServiceMonitor which is not possible now..

[2020-01-20 14:48] Zelldon commented on #12
Yes I tried that and it works :+1: thanks @salaboy

Not now :smile:

[2020-01-20 15:23] Zelldon commented on #17
I tried it with:

[code]

And:
[code]

But unfortunately both didn't work.

Expected capabilities:

[code]

How to find them:

[code]

With both settings I got:

[code]

Related K8's documentation and example https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-capabilities-for-a-container

[2020-01-20 15:33] Zelldon commented on #17
Actually I expected that `podSecurityContext` works since it used here https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/templates/statefulset.yaml#L77

[2020-01-20 18:37] salaboy commented on #17
@Zelldon thanks for trying and reporting back.. I will check it out.. as it should work

[2020-01-29 14:02] #14 closed

[2020-01-30 14:25] npepinpe opened #20 "Add extra container and init container values"
When using the Helm charts to demo or test something, it's sometimes useful to be able to inject sidecar containers, or extra init containers. Some operators (e.g. linkerd) do this for you through annotations, others require you to do this yourself (e.g. Jaeger - they support annotations as well, but only on deployments for whatever reason).

AT:

- add `extraAnnotations` value to allow specifying

[2020-01-30 15:59] salaboy commented on #20
checklist
- [ ] annotations to service and statefulset
- [ ] extraContainers
- [ ] extraInitContainers

[2020-01-30 16:23] salaboy commented on #20
@npepinpe `annotations` and `extraInitiContainers` are ready to test in the latest charts...
If you give them a try and you find issues please let me know.

[2020-02-04 08:18] Hermsi1337 opened #21 "`ServiceMonitor` is not optional"
Hey Folks,

first of all - many thanks for the work and effort you put in `zeebe`.
This piece of software is performing really well in our environment.

I've noticed, that there is a new `manifest` called `service-monitor.yaml` which requires the deployment of an additional operator and the corresponding `CRD`s.

In our case, that specific manifest prohibits a deployment of the latest `zeebe-clust

[2020-02-04 10:59] salaboy commented on #21
@Hermsi1337 totally ok with that.. can you send a PR for that? we really welcome contributions like that, and for some reason in my setup that was not required. Can I ask which version of Kubernetes are you running? You shouldn't need the operator if the CRD is there.. but that means that in your kubernetes the CRD is missing, so your recommendation is a good option.

[2020-02-04 11:28] andylholloway opened #22 "Values file for Docker for Windows Kubernetes Cluster"
Hi
I recently posted a message on your forum about how I couldn't run Zeebe and ElasticSearch in a local kubernetes cluster: https://forum.zeebe.io/t/docker-desktop-kubernetes/949/2

After a bit of trial and error I have been able to get a single instance of Zeebe and ElasticSearch to run in a local Kubernetes cluster. It would be really helpful if the zeebe-cluster-helm chart included a values fi

[2020-02-04 11:44] salaboy commented on #22
@andylholloway I've just answered in the forums.. let me know if that is ok with you.

[2020-02-04 12:00] Hermsi1337 commented on #21
@salaboy you're absolutely right, the operator itself is not required, but the `CRD's are.
Since we have not deployed the operator, we neither have deployed the `CRD`s, thats what I meant.

We're running Kubernetes in version `v1.16.6`:
`Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.6", GitCommit:"72c30166b2105cd7d3350f2c28a219e6abcd79eb", GitTreeState:"clean", BuildDate:"2

[2020-02-04 17:43] salaboy commented on #22
@andylholloway one thing that I noticed here is that you are using ``` imageTag: "7.5.2"``` which is no going to work with Operate, so I am assuming that you are just deploying a simple cluster without Operate. Do you think that in the future you would be interested in using it?

[2020-02-05 08:23] #21 closed

[2020-02-05 08:40] salaboy commented on #21
@Hermsi1337 thanks a lot for your contribution. Changes are merged and the charts are released. You can get the latest version by doing `helm update` if you have the `helm.zeebe.io` repo added.
Formatting changes really appreciated as well.
Thanks a lot @Zelldon for your comments as well.

[2020-02-05 14:22] andylholloway commented on #22
That's interesting as I did test this with Operate and it seemed to work, although I didn't test all functionality Operate offers. I simply tested that a workflow instance could be created and completed.

[2020-02-05 16:30] salaboy commented on #17
@Zelldon just checking again.. does this never worked then?

[2020-02-05 16:30] salaboy opened #24 "Add support for Hazelcast exporter mounted with Env variables"
Add out of the box support for Hazelcast exporter to the chart.

[2020-02-06 07:10] Zelldon commented on #17
Not sure what you mean😅 with the helm charts? No, but currently we had no need for it.

[2020-02-06 08:46] salaboy commented on #17
@Zelldon should we close this one then? Yeah, I meant if you managed to apply those security context configurations when using the Helm charts.. if that ever becomes a problem let me know. I don't want you guys to be blocked on this one. But currently, I have other things calling for my attention.

[2020-02-06 09:07] Zelldon commented on #17
Lets keep it open for now. I will check it after I'm back from my holidays. You do not need to do anything here.

[2020-02-07 10:13] salaboy commented on #22
@andylholloway interesting... I been asking for that upgrade of ElasticSearch version for some time.. Did you modified in some way the brokers or the exporters configuration beside what you are sharing in the values file?
Give me some time to add this to the other repo and then link it to the docs..

[2020-02-12 08:49] phoenixwp opened #26 "Fix StatefulSet spec"
Deploying the chart the following error appear:
[code]

Issue is in statefulset spec in **accessModes** definition.
Original:
[code]

Should be:
[code]

[2020-02-12 15:55] salaboy commented on #26
@phoenixwp hi there.. thanks for reporting this.. can you please share which version of Kubernetes APIs are you using?
Also.. are you changing that in your values file? Because currently, the values file specifies the array inline -> https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/templates/statefulset.yaml#L106

Do you see what I mean?

[2020-02-17 10:49] Zelldon opened #27 "Confusing different prometheus settings"
The prometheus operator can be enabled via `prometheusOperator.enabled`

https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/requirements.yaml#L13

To just enable the prometheus servicemonitor we have to use `prometheus.servicemonitor.enabled`

https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/templates/service-monitor.yaml#L1

I think it would less conf

[2020-02-17 11:34] salaboy commented on #27
@Zelldon I totally agree.. would you send a PR for that?
I think that the sooner we do this.. the better.. so we don't break users already using those flags.

[2020-02-17 11:34] salaboy commented on #26
@phoenixwp I will close this issue as I think that it is already ok as it is, but if you have more information that I might be missing, please drop me a message here and I will re-open it.

[2020-02-17 11:34] #26 closed

[2020-02-17 12:03] Zelldon commented on #27
Done. #28

[2020-02-17 12:11] Zelldon commented on #24
This would be awesome :+1:

[2020-02-17 14:15] #27 closed

[2020-02-19 09:35] salaboy commented on #24
reference in docker compose: https://github.com/zeebe-io/zeebe-docker-compose/commit/40d542f48a8e6cbedbcbf2f7f653beb59191eb0b#diff-c3983ba33a282ce008cfd4c9e73f1c2b

[2020-02-19 09:39] Zelldon commented on #24
I also added a dockerfile in the hazelcast exporter repo https://github.com/zeebe-io/zeebe-hazelcast-exporter/blob/master/Dockerfile

[2020-02-19 09:46] salaboy commented on #24
@Zelldon yeah.. but the whole point of this is to use the official images right?

[2020-02-19 09:47] salaboy commented on #24
@Zelldon is that docker image being published -> https://github.com/zeebe-io/zeebe-hazelcast-exporter/blob/master/Dockerfile ?

this fix in the chart should enable other exporters to be registered.. we should avoid publishing tons of different docker images with different exporters

[2020-02-19 09:50] Zelldon commented on #24
https://hub.docker.com/r/zelldon/zeebe-hazelcast I need that for testing

[2020-02-19 10:33] salaboy commented on #24
@Zelldon yeah.. but I cannot use your image for the public charts.. also .. for test containers you should be able to mount the jar as @jwulf is doing ..

[2020-02-19 11:20] Zelldon commented on #24
This is fine, was just saying how I do it now.

Sure I can do that but this is not convenient. I would need in my C# integration tests download the jar from somewhere, copy it somewhere then mount it via test containers instead of just referencing an image which contains the thing :sweat_smile:

[2020-02-26 13:23] npepinpe opened #30 "Error defining extra init containers"
When adding extra init containers, we ran into issue where the resulting YAML was badly indented. Our quickfix was to switch from `indent 8` to `nindent 8`, as it seems `indent 8`  print out the template directly with the current indentation + 8 for the first line, whereas nindent would first go to a new line and add 8.

So given this values:

[code]

The resulting YAML looked like this:

[code]

[2020-02-26 15:40] #30 closed

[2020-02-26 16:03] salaboy commented on #20
@npepinpe do we need extraContainers? or should we close this one?

[2020-02-26 16:05] npepinpe commented on #20
Extra containers are useful to add side car containers such as service mesh proxies, OpenCensus/OpenTracing collectors, Java agents, etc., so I would definitely like to have it eventually :)

[2020-02-28 09:38] Zelldon opened #32 "Add elastic exporter as optional dependency"
Sometimes on our benchmarks we also want to see metrics from elastic, for that normally the [elastic-exporter](https://github.com/justwatchcom/elasticsearch_exporter) is used

We configured it normally like this, in order to work with out Prometheus setup.
[code]

[2020-03-10 09:23] salaboy commented on #1
@Zelldon @npepinpe @saig0 can you guys point me out how does the standalone gateway connects with the brokers? where is that configuration?

[2020-03-10 09:23] salaboy commented on #1
I am currently getting
```2020-03-10 09:23:23.303 [] [atomix-partition-group-membership-service-0] WARN  io.atomix.primitive.partition.impl.DefaultPartitionGroupMembershipService - Failed to locate management group via bootstrap nodes. Please ensure partition groups are configured either locally or remotely and the node is able to reach partition group members.``` in the gateway

[2020-03-10 09:33] Zelldon commented on #1
Hey @salaboy this is currently expected, we have no fix for that but it should still work

[2020-03-10 09:37] salaboy commented on #1
let me try to deploy some processes
and I will send an initial PR to review

[2020-03-10 09:39] salaboy commented on #1
Still not finding the brokers.. there is something that I'm missing.. in the previous deployment descriptor there is a configMap, which seems to only contain the logging config files.. but is there something else require for the gateway to locate the brokers?
Currently I am running
[code]

Where no brokers are found, even when the brokers are up and running right besides the gateway.

[2020-03-10 09:40] salaboy commented on #1
does this make sense: ->
```ZEEBE_GATEWAY_CLUSTER_MEMBER_ID:  zeebe-zeebe-gateway-7f565445fd-5jm2h (v1:metadata.name)```

[2020-03-10 09:40] salaboy commented on #1
that is basically the name of the pod hosting the gateway.

[2020-03-10 11:58] Zelldon commented on #1
@npepinpe i think you setup the last time the standalone gateway any idea? I think in the gateway config the `contactPoint` needs to be set correctly.

[2020-03-10 12:29] npepinpe commented on #1
You need to point the contactPoint to at least one of the brokers - this isn't optimal in terms of discoverability obviously, but that's how it is for now. I don't remember having to do anything in particular tbh.

Having the pod name as the node ID is totally fine, I think that's also what I was doing.

[2020-03-10 12:32] npepinpe commented on #1
I additionally configured the following environment vars:

[code]

where $(BROKER_SERVICE_NAME) was taken from the downstream API as

[code]

This was for the kustomize setup, but should be easy enough to adapt.

[2020-03-13 08:43] Zelldon commented on #17
I tried it with a different notation:

[code]

This also had **NO** effect at all. We need the `SYS_ADMIN` capability to run the `async_profiler`, see also zeebe-io/zeebe#4044

[2020-03-16 08:12] npepinpe commented on #17
I think the issue is that the `securityContext` is a child of `spec` and not `spec.containers` :sweat_smile:

[2020-03-16 08:17] Zelldon commented on #17
Yes I think you're right see also the k8s example https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-capabilities-for-a-container

[2020-03-16 08:34] #17 closed

[2020-03-17 14:07] andylholloway opened #37 "Configure port names via values.yaml to support Istio Port Selection"
Hi
I recently deployed Zeebe to a kubernetes cluster that uses the Istio Service Mesh.

To configure Port Selection (https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/) the port names should be prefixed with the protocol e.g. grpc-gateway.

At the moment I am pulling down the helm chart, expanding the charts and modifying the port names.

Could the port names be configu

[2020-03-18 06:48] Zelldon commented on #37
Hey @andylholloway,

thanks for opening this issue, sounds reasonable for me.

Probably it would make sense to have this as default names, or?

Are you willing in providing a PR for that?

Greets
Chris

[2020-03-18 11:37] andylholloway commented on #37
Hi @Zelldon

I'd be happy to provide a PR for this.

I was thinking of keeping the existing port names as defaults and only overriding a port name if a port name is provided in the values.yaml. Is that how you see it?

[2020-03-18 15:23] Zelldon commented on #37
@npepinpe any opinion on this?

[2020-03-18 16:25] npepinpe commented on #37
Is the automatic protocol detection only detecting HTTP and HTTP/2? I was under the impression they could detect most protocols, but maybe not. :disappointed_relieved:

@andylholloway's proposal sounds good - keep default port names and overwrite only if provided. :+1:

[2020-03-18 20:33] andylholloway commented on #37
AFAIK Istio can auto-detect HTTP and HTTP/2, but will default to TCP when it cannot determine the protocol.

[2020-03-19 16:37] andylholloway commented on #37
@Zelldon , @npepinpe
I have made the changes in a local branch, but I'm not sure how to push my changes and create a PR.

Could you tell me what steps I need to take to create a PR?

Thanks
Andy

[2020-03-19 19:15] npepinpe commented on #37
For contributors, you would fork the repository, then push the branch to your fork. You can then go to Pull Requests and open a PR against our repository's master branch.

See here on how to create and maintain forks: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/working-with-forks

And here on how to open a PR from your own fork: https://help.github.com/en/github/c

[2020-03-21 14:42] npepinpe opened #42 "Improve startup.sh"
The current overwritten `startup.sh` has some unfortunate downsides:

1. It overwrites potentially set environment variables, such as `ZEEBE_HOST` ,`ZEEBE_CONTACT_POINT`, etc.
1. It does not set `ZEEBE_ADVERTISED_HOST`
1. It expects `ZEEBE_CLUSTER_SIZE` to be defined, and would explode if we ever removed it

A new start up script should ensure we don't overwrite preset environment variables, and s

[2020-03-21 15:39] npepinpe opened #44 "Allow specifying additional environment variables to brokers"
When testing or developing Zeebe, it's quite useful to be able to pass arbitrary environment variables to broker deployments in order to verify the impact of various settings.

One way of doing so, as done in the Prometheus chart, could be by defining an `env` value, which is takes in the standard, raw YAML format for k8s, e.g.:

[code]

[2020-03-21 16:01] npepinpe commented on #37
Closed by #39

[2020-03-21 16:01] #37 closed

[2020-03-21 16:03] npepinpe opened #46 "Support 0.23.x configuration changes"
As of 0.23.x, the official Zeebe distribution for the broker and the gateway will be configurable through Spring Boot.

As there is already another PR for custom environment variables, the goal here is to migrate the current settings to the new expected format, which includes:

1. Migrating the TOML file to the new YAML file format
1. Migrating the existing pre-set environment variables to the new

[2020-03-24 06:30] #44 closed

[2020-03-25 15:08] #42 closed

[2020-03-30 16:19] npepinpe opened #48 "README is broken"
Seems I broke the table of values in the README, sorry :see_no_evil:

[2020-03-31 09:15] salaboy commented on #48
that is alright.. I break it all the time.

[2020-03-31 09:16] salaboy commented on #48
@npepinpe do you see it broken now?

[2020-03-31 09:17] Zelldon commented on #48
Sorry I fixed it already https://github.com/zeebe-io/zeebe-cluster-helm/commit/6cb9cfc08e4b36a7ea4a2c4761b6164404017642

[2020-03-31 09:17] #48 closed

[2020-04-01 04:00] Zelldon opened #49 "Disabling embedded Gateway doesn't work with newest Zeebe version"
We wanted to disable the embedded gateway by default but with out latest cfg changes this didn't work.

https://github.com/zeebe-io/zeebe-cluster-helm/blob/6cb9cfc08e4b36a7ea4a2c4761b6164404017642/zeebe-cluster/templates/configmap.yaml#L39

[2020-04-03 04:33] Zelldon commented on #1
Hey guys I think the current setup doesn't work, at least for me.

I had to disable the standalone and enable the embedded again to get my benchmarks working

[code]

[2020-04-08 14:34] coolpalani opened #50 "zeebe deployment failing | cp: cannot stat '/exporters/*.jar': No such file or directory"
We're getting following error message while deploy zeebe.
Due to this changes [code](https://github.com/zeebe-io/zeebe-cluster-helm/blob/c589c44a60f1f0f29a1bcca23e9fecf90fbc16d7/zeebe-cluster/templates/configmap.yaml#L32)

`kubectl.exe logs pod/workflow-zeebe-0 -n zeebe`
`++ hostname -f`
`+ export ZEEBE_ADVERTISED_HOST=workflow-zeebe-0.workflow-zeebe.zeebe.svc.cluster.local`
`+ ZEEBE_ADVERTISED_HO

[2020-04-08 16:19] salaboy commented on #50
@coolpalani thanks for reporting I am working on the fix.. but you can use older versions of the chart if you want

[2020-04-08 18:13] salaboy commented on #50
@coolpalani fixed now!

[2020-04-08 18:13] #50 closed

[2020-04-08 18:13] salaboy commented on #49
@Zelldon is this a problem on the helm charts?

[2020-04-08 18:15] Zelldon commented on #49
Yes since it doesnt use the new cfgs and env variables

[2020-04-14 11:32] andylholloway opened #51 "Gateway deployment readiness probe tcp socket port is hard coded."
Hi
I'm currently trying to deploy the latest zeebe-cluster-helm chart (0.0.88) to Kubernetes, which uses Istio with port selection: https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/.

I changed the gateway port name to "grpc-gateway" in the values file e.g.
[code]
But the change broke the gateway pod. After a little investigation I noticed that the gateway-deployment.y

[2020-04-14 12:10] salaboy commented on #51
@andylholloway yes totally, the more flexible it is the better.

[2020-04-15 11:13] andylholloway opened #52 "Standalone Gateway pod 9600 endpoint returns 503 Service Unavailable"
Hi

I recently deployed zeebe-cluster-helm chart version 0.0.88 and as part of my testing noticed that the gateway service exposes an endpoint on port 9600, which seems to always return:

_503 Service Unavailable
upstream connect error or disconnect/reset before headers. reset reason: connection failure_

I know this endpoint is exposed by the Zeebe pods and used by Kubernetes to check when the po

[2020-04-19 08:44] salaboy commented on #51
@andylholloway are you going to send a PR for this?

[2020-04-19 09:46] andylholloway commented on #51
Hi @salaboy
Sorry it slipped my mind, I have created a PR.

[2020-04-19 11:36] salaboy commented on #51
@andylholloway awesome! thanks for that..

[2020-04-28 15:30] #46 closed

[2020-04-28 15:31] npepinpe opened #56 "Standalone gateway should use the broker service as contact point"
It's currently necessary to set the standalone gateway contact point manually to the broker service; this should be done automatically by reusing the release name.

[2020-04-28 15:33] npepinpe commented on #56
Nevermind, for some reason I was still using an older version of the chart

[2020-04-28 15:33] #56 closed

[2020-04-28 15:48] npepinpe opened #57 "Broker service should expose command API port"
Currently the broker service does not expose the command API port, therefore the gateway cannot connect to it.

[2020-04-29 08:16] #57 closed

[2020-04-30 17:23] pinkertonpg opened #59 "Test Connection pod fails to template properly with Helm 3"
The test-connection pod fails to apply at all because it ends up as
[code]
Applying this against a kubernetes cluster gets you:

[code]

Since we embed templating in values.yaml in `global.zeebe`, I believe you have to tell Helm to explicitly re-template any file we reference that in via `tpl`. This is already done in all other files in this chart, this is the only exception.

**Helm 3 change?**

[2020-04-30 20:23] pinkertonpg opened #60 "Add PodDisruptionBudgets"
I'd love to see [PodDisruptionBudgets](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#how-disruption-budgets-work) for the gateway and brokers in this chart. These are especially important when performing cluster administration like draining nodes for maintenance.

As an example, the elasticsearch chart this one depends on includes a PDB for its Statefulset.

[2020-05-01 08:12] salaboy commented on #59
@pinkertonpg please do submit a PR for that.. as we are aiming for Helm 3 only.. we need to update the docs.. as our current charts were created with Helm 2 and they still work with Helm 2, but I think that the error that you are getting might be because the relase name is not being replaced...

[2020-05-01 10:18] salaboy commented on #60
@pinkertonpg any chance that you send a PR for that?

[2020-05-01 10:19] salaboy commented on #52
@andylholloway I've published the new charts with zeebe 0.23.1 .. is this still an issue?

[2020-05-01 15:24] #59 closed

[2020-05-03 10:14] andylholloway commented on #52
Hi @salaboy
Thanks for this. I'll upgrade our deployment asap and let you know the outcome.

[2020-05-04 14:08] pinkertonpg commented on #60
I'll try to find some time to put up a PR this week :+1:

[2020-05-05 09:43] bastianeicher opened #63 "Setting global.zeebe causes startup to fail"
I wish to use the value `global.zeebe` to name the Kubernetes resources `zeebe` rather than `zeebe-zeebe`.

## Works in old version

In version 0.0.89 of the chart this works fine:

[code]

## Breaks in current version

In the latest versions of the chart this causes the startup to fail:

[code]

I am using Helm 3.

[2020-05-05 09:57] salaboy commented on #63
@bastianeicher thanks for reporting.. can you try version 100?

[2020-05-05 10:03] salaboy commented on #63
@bastianeicher thanks for reporting.. i can confirm that this also fails in verison 100..
It seems that something is failing while replacing the global.. In general we should use the release name to name our cluster.. that is why the global default is set to` {Release.Name}-zeebe`
Is there any reason why you want to override that? I am not entirely sure why you want to do that.

[2020-05-05 10:04] salaboy commented on #63
In your case.. the cluster is called `zeebe-zeebe` but the first `zeebe` is the release name

[2020-05-05 10:39] bastianeicher commented on #63
@salaboy: I am deploying Zeebe in its own Kubernetes namespace and only have one instance of Zeebe in total. Therefore the only logical Helm release name for me is `zeebe`. The resulting cluster name `zeebe-zeebe` seems a little redundant to me.

More specifically, when I specify the Zeebe hostname for other services in the cluster to connect to I would like it to be `zeebe-gateway.zeebe.svc.clust

[2020-05-05 12:30] salaboy commented on #63
@bastianeicher I do understand but that is not a typical use of HELM, you can use the namespace name for your release, so it is clear to which zeebe cluster you are connecting to.
If we remove the `-zeebe` and your release is called `whatever` that is what the name of the zeebe cluster service will be, which is extremely confusing in my opinion.

I bet that this issue can be fixed, but it will tak

[2020-05-05 13:44] bastianeicher commented on #63
I agree that not having `zeebe` in the pod names at all would be confusing. However, there is a common pattern used by many charts to address this:

- combine the Release name and Chart name,
- unless the Release name already contains the Chart name,
- unless an explicit override is specified.

For example using the `mariadb` Chart:

**Combine the Release name and Chart name**

[code]

**Release n

[2020-05-05 14:10] salaboy commented on #63
@bastianeicher you are right, and I like that approach.. the more aligned than we are with other helm charts the better, would you send a PR with the change?

[2020-05-06 09:26] npepinpe commented on #52
It seems like the standalone gateway is not using the `gatewayMetrics` value?

[2020-05-11 23:01] pradeeepst opened #64 "Multiple gateways fails to reach brokers."
Openshift version: 3.11
Helm version: 3
Zeebe version: 0.22.1
How to reproduce ?
 Deploy helm chart with 3 replicas of gateway and broker. Broker pod results in below error.
`2020-05-11 06:09:30.301 [] [atomix-partition-group-membership-service-0] WARN  io.atomix.primitive.partition.impl.DefaultPartitionGroupMembershipService - Failed to locate management group via bootstrap nodes. Please ensure p

[2020-05-12 04:19] Zelldon commented on #64
This log is not an issue. Yes it is confusing it is removed in the newest versions, but it is not a problem. Do you have problems to reach the brokers with more then one gateway ?

[2020-05-12 04:21] pradeeepst commented on #64
Yes, couldnt reach brokers if the gateway is more than one.

[2020-05-12 04:22] Zelldon commented on #64
Thanks for conforming. We need to have a look maybe we have some questions later.

[2020-05-12 04:51] Zelldon commented on #64
Can't reproduce this issue with the our current snapshot version.
I run our normal test benchmark with three gateways and it seem to work.

![multi-gw](https://user-images.githubusercontent.com/2758593/81639562-95b6c600-941c-11ea-8808-75ebeee6c01f.png)

I used the following configuration:

[code]

What is the reason to use 0.22.1 instead of 0.23.1?

[2020-05-12 04:53] Zelldon commented on #64
I think `0.22.1` will not work, since the helm-chart uses the new environment variables which are introduced with `0.23.x`

Could you please try it with `0.23.x`

[2020-05-12 22:35] pradeeepst commented on #64
Thanks @Zelldon . New version with new helm chart works. Just curious, why ES version is `6.8.5`  ?

[2020-05-13 04:38] Zelldon commented on #64
Awesome! Happy to hear that. :slightly_smiling_face:
I will close this issue then.

Regarding to elastic version, the Broker doesn't support 7.x yet, see https://github.com/zeebe-io/zeebe/issues/3445

[2020-05-13 04:38] #64 closed

[2020-05-15 20:55] pinkertonpg opened #65 "Cannot set custom annotations on the gateway pods"
The broker StatefulSet template allows you to set `podAnnotations` that end up in the pod template, but the gateway Deployment does not: https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/templates/gateway-deployment.yaml#L19-L23.

This is useful for users wanting to set custom annotations that help power other kube services that do things like metrics, monitoring, and even t

[2020-05-16 12:13] salaboy commented on #65
@pinkertonpg good catch.. and yes.. we need to add those podAnnotations in the gateway as well.. would you mind sending a PR for that?

[2020-05-17 08:09] rruizperez opened #66 "Unable to configure additional exporters"
Hi,

I am trying to get the following tutorial running on my k8s cluster:
[https://zeebe.io/blog/2019/05/exporter-part-1/](url)

However when I add the zeebeCfg field:

  [[exporters]]
  id = "demo"
  className = "io.zeebe.DemoExporter"

I get:

I've tried adding the configuration formatted as yaml:

    - id = demo
      className = io.zeebe.DemoExporter

without luck.

here is the configuration

[2020-05-17 09:44] salaboy commented on #66
@rruizperez hi there.. thanks for reporting this.. I think that you might need to look into ENV variables to set up the exporters now. @npepinpe can you help me out here? I think that you can point us in the right direction with the new changes in 0.23.1.
This is how we are setting the elasticsearch exporter now: https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/templates/st

[2020-05-18 05:34] Zelldon commented on #49
This is outdated

[2020-05-18 05:34] #49 closed

[2020-05-18 05:37] rruizperez commented on #66
Thank you.

I was aware of how the configuration gets loaded for the elasticsearch exporter, but it seems that there are special ENV variables for just that exporter.

Where can I check the docs on how to configure the ENV variables for custom made exporters?

[2020-05-18 05:39] rruizperez commented on #66
nvm, I think I found it on:
[https://docs.zeebe.io/appendix/broker-config-template.html](url)

Thank you

[2020-05-20 08:58] #65 closed

[2020-05-21 10:01] #60 closed

[2020-05-23 13:30] abhi1git opened #69 "[raft-server-2-system-partition-1] WARN io.atomix.raft.roles.FollowerRole - RaftServer{system-partition-1}{role=FOLLOWER} - java.net.ConnectException when standalone gateway is disabled and embedded gateway is enabled for multi broker setup"

[2020-05-23 13:40] abhi1git commented on #69
I am doing the setup of zeebe cluster (image tag = 0.23.1) using this helm chart. I have disabled the standalone gateway and enabled embedded gateway for broker by configuring:point_down: also exposed 26500 port in broker container and service.
[code]
When clusterSize: "1"  the above mentioned embedded gw configuration works and broker pod starts running also I am able to connect to simple monitor

[2020-05-23 14:50] salaboy commented on #69
@abhi1git are you pods getting restarted by k8s?
Can you check that please?

[2020-05-23 15:00] abhi1git commented on #69
@salaboy
No they are not getting restarted by K8s.
I am doing a new setup.
Pods are not even reaching ready state.
None of the zeebe broker pod started.

[code]

[2020-05-27 06:29] deepthidevaki opened #71 "Set ZEEBE_GATEWAY_CLUSTER_HOST to its hostname or ip"
ZEEBE_GATEWAY_CLUSTER_HOST is currently set to '0.0.0.0'. This cause issues in deployments with Standalone Gateway because the broker tries to communicate with the gateway by sending messages to `0.0.0.0`.

ZEEBE_GATEWAY_CLUSTER_HOST should be set to an externally reachable IP or hostname.

[2020-05-27 09:30] salaboy commented on #71
@npepinpe @Zelldon did something changed about this? I remember that someone did this change maybe in 0.22?

[2020-05-27 15:35] kjozsa commented on #63
I confirm this issue happening with 0.23.1, I have just ran into the same problem.

[2020-05-27 15:52] npepinpe commented on #71
It was probably something I did when migrating to 0.23.x - should be fixed

[2020-05-28 01:31] xuanzhong opened #73 "The latest chart 0.0.106 not working"
The zeebe version 0.23.1 requires application.yaml as the configuration. But the ConfigMap creation of application.yaml is not working properly.  Can you provide a working example for  .values.zeebeCfg? which will be rendered as application.yaml via ToYaml in the zeebe configmap.

[2020-05-28 12:25] npepinpe opened #74 "Allow setting resource requests/limits on the gateway replicas"
Currently the gateway runs with no limits, which may not always be desirable. It should be possible to set resource requests/limits on the gateway as well as the broker.

[2020-05-28 23:48] xuanzhong commented on #73
The issue is resolved by the following code change in templates/configmap.yaml
@@ -37,4 +37,6 @@ data:

     exec /usr/local/zeebe/bin/broker
   application.yaml:
-    {{ toYaml .Values.zeebeCfg }}
+{{- with .Values.zeebeCfg }}
+{{ . | toYaml | indent 4 }}
+{{- end }}

[2020-05-29 08:36] salaboy commented on #73
@xuanzhong hi there.. why did you close the issue? did you get it fixed on your side?

[2020-05-29 08:37] salaboy commented on #73
@xuanzhong also.. which version of helm are you using?

[2020-05-29 08:55] salaboy commented on #73
your suggestion is now applied in 107

[2020-05-29 08:55] #73 closed

[2020-05-29 08:56] salaboy commented on #74
Are these not working: https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/values.yaml#L72 ?

[2020-05-29 08:56] salaboy commented on #74
I totally agree that we need those for the gateway

[2020-05-29 08:58] npepinpe commented on #74
These work for the broker stateful set, but are not applied on the gateway deployment.

[2020-06-01 07:30] salaboy commented on #71
@npepinpe @deepthidevaki should we close this? is it fixed?

[2020-06-02 08:26] npepinpe commented on #71
The relevant PR was merged so yes :+1:

[2020-06-02 08:26] #71 closed

[2020-06-05 10:26] Zelldon opened #75 "Introduce tests for the helm charts"
Currently we have the problem that we quite often add new features or try to fix bugs but we didn't test it automatically. It already often happens that on new releases our current benchmark didn't work anymore. I would like to introduce some tests for the helm charts.

Maybe we can make use of golden files https://medium.com/@jarifibrahim/golden-files-why-you-should-use-them-47087ec994bf

[2020-06-05 10:38] salaboy commented on #75
Totally, this has been in my TODO list for a while..

[2020-06-06 09:23] salaboy commented on #75
@Zelldon I will add something basic this next week with plain helm test -> https://helm.sh/docs/topics/chart_tests/ and then we can discuss if we need more

[2020-06-06 10:04] Zelldon commented on #75
Thanks @salaboy 👍

[2020-06-11 13:18] npepinpe opened #76 "Wrong label selector in service monitor"
The service monitor uses a hard coded label selector, which looks up all services with the label `app=zeebe`. However all our services have customizable app label values, so this is very easily broken. In fact, the gateway currently is broken as it appends `gateway` at the end, resulting in no metrics being scraped for the gateway.

Solution here would be to make sure we use a single label consist

[2020-06-17 12:58] patrykwegrzyn opened #77 "Setting pvcSize not having effect"
Looks like setting `pvcSize` do not work as intended
Steps to reproduce
set `pvcSize: "1Gi"` in values.yaml

Result
Cluster size remains at default  `10Gi`

[2020-06-18 11:21] Zelldon opened #80 "Explain Java options and reasoning"
Would be good to know why have the current [JavaOptions](https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/values.yaml#L47) and what was the reason to put them at this value.

I'm especially interested in:

[code]

Because these settings currently seem to make serious problems on deploying Zeebe with one partition, see this issue https://github.com/zeebe-io/zeebe/issues/4664

[2020-06-18 12:50] falko commented on #80
Yes, I have been asked about this by customers as well.

[2020-06-18 12:56] Zelldon commented on #80
I assume they are just copied from somewhere. For example here they are listed https://docs.openshift.com/container-platform/3.9/dev_guide/application_memory_sizing.html#encouraging-the-JVM-to-release-unused-memory It seem this configuration makes the GC really aggressive.

[2020-06-18 13:06] salaboy commented on #80
@Zelldon @falko we can change these parameters in any way we want, some of these parameters were provided by previous yaml files, copied from other places and never updated since we started.. I am happy to change them all, but I haven't seen any suggestions yet.
Remember that we started with JDK 8 which required different paramters to make sure that the JVM was aware that it was running inside Doc

[2020-06-18 13:11] Zelldon commented on #80
Thanks @salaboy I think maybe we should then just use the defaults from the jvm until we tested and found better parameters or we see problems with them. I think we will spent in the future some time to find good new values, but I think for now we should just use defaults.

We should keep

[code]

Because we know that they work with our system and bringing value.

[2020-06-18 13:13] npepinpe commented on #80
In the cloud we now also include the `-XX:+ExitOnOutOfMemoryError`, since Zeebe becomes quite unstable when it hits an OOM - should we also include it here?

[2020-06-18 13:16] Zelldon commented on #80
Yes I think so. Otherwise the system might in a weird state when the oom's are catched.

[2020-06-19 12:27] #80 closed

[2020-06-22 08:38] #76 closed

[2020-06-22 08:43] npepinpe commented on #63
With https://github.com/zeebe-io/zeebe-cluster-helm/pull/79, this may have been solved. I'll confess I wasn't aware of this issue, but the names should be standardized around the existing templates. That said, I still reused `global.zeebe` because I didn't want to break and remove it, though I think using the more standard `Release.Name` or `Values.fullnameOverride` would be better in my opinion.

[2020-06-22 08:49] #51 closed

[2020-06-22 08:50] npepinpe commented on #1
Is this fixed by now?

[2020-06-23 06:54] neermitt opened #83 "gateway config doesn't work with ipv6 only network"
Looks like chart doesn't work with ipv6 only network

Following environment variables, hardcoded bind to "0.0.0.0" which doesn't work with ipv6 only network
- ZEEBE_GATEWAY_NETWORK_HOST
- ZEEBE_GATEWAY_MONITORING_HOST

[2020-06-23 06:57] npepinpe commented on #83
You can set the environment variables via the chart values, e.g.:

[code]

You can also do the same for the broker:

[code]

Please confirm if this works or not for you :+1:

[2020-06-26 09:25] ezolnbl commented on #1
anybody experienced a double env var for ZEEBE_BROKER_GATEWAY_ENABLE when defining the helm chart(zeebe 0.0.122) like this:
[code]

and in kubectl desribe:
[code]
and embedded gateway is not started because of this

[2020-06-26 09:48] salaboy commented on #1
@ezolnbl hmm that is interesting.. and totally possible with the current setup.. that is because, half of the ENV variables are defined in the templates and the other half can be injected using the `env` key.
Instead of overriding with `env` you should try to set it with the values themselves. But in order for that to happen, we need to make this line a variable:

https://github.com/zeebe-io/zeebe

[2020-06-26 09:50] ezolnbl commented on #1
to which repository? zeebe or zeebe-helm?

[2020-06-26 09:51] salaboy commented on #1
@ezolnbl this repository.. you need to change the file that I've linked in my previous message.

[2020-06-26 09:54] salaboy commented on #1
@npepinpe I will close this issue as this is fixed..
@ezolnbl would you mind creating another issue for adding a variable to the gateway enable in the broker?

[2020-06-26 09:54] #1 closed

[2020-06-26 09:55] salaboy commented on #83
@neermitt did you manage to try the suggested changes by @npepinpe ?

[2020-06-26 09:57] salaboy commented on #77
@patrykwegrzyn can you share your values file? Also which chart are you using? `zeebe-cluster` or `zeebe-full` ?

[2020-06-26 09:58] salaboy commented on #63
@npepinpe the use of the global is required to make it work with the operate chart if they are used without having a parent chart such as `zeebe-full` as soon as these convinations work.. I am fine with refactoring the names. I do believe that this is an improvement for usability, but we need to make sure that we don't break other charts.

[2020-06-28 22:20] patrykwegrzyn commented on #77
hi there it was `zeebe-full`

[code]

[2020-06-29 08:47] salaboy commented on #77
@patrykwegrzyn if you are using `zeebe-full` you need to set the parameters in the right hierarchy. As you are setting the parameters for the `zeebe-cluster` sub chart you need to have an entry in your yaml file respecting that hierarchical relationship. Your yaml should look like this:

[code]

[2020-06-29 08:48] salaboy commented on #77
@patrykwegrzyn please report back if this works for you and please work the issue if it does.

[2020-07-03 12:32] #2 closed

[2020-08-11 06:53] Zelldon opened #89 "Wrong version label for pods"
When I deploy the helm charts with a value file you can find here https://github.com/zeebe-io/zeebe/blob/develop/benchmarks/setup/default/zeebe-values.yaml

and having the image set to:

[code]

Then we can see that the version label is set to 0.23.4

[code]

I would expect it is set to SNAPSHOT or 25.

[2020-09-09 12:13] falko opened #91 "Defaults in README.md don't match values.yml"
The default JVM options documented in [README.md](https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/README.md) don't match the ones in [values.yml](https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/zeebe-cluster/values.yaml).

I assume the [README.md](https://github.com/zeebe-io/zeebe-cluster-helm/blob/master/README.md) needs updating because we reviewed and discussed [values.yml

[2020-09-09 15:44] salaboy commented on #91
fixed

[2020-09-09 15:44] #91 closed

[2020-09-14 10:46] #74 closed

[2020-10-19 20:45] sebascarra commented on #9
Any sort of way to implement livenessProbes for Zeebe brokers? It is implemented for Zeebe gateways, so I was wondering what's the difference with brokers. Thanks!

[2020-10-30 12:29] npepinpe opened #99 "Multiple gateway replicas may not work gossip algorithm"
**Description**

Nodes in a Zeebe cluster use SWIM (i.e. gossip) to propagate information about other nodes. This is how topology is propagated, and how which node is subscribed to which notification event as well. Within SWIM, each node is identified by its memberId; if two nodes share the same `memberId`, then problems can arise as for the other nodes they are essentially the same. As you can im

[2020-11-09 18:38] CodechCFA opened #100 "setting ZEEBE_BROKER_GATEWAY_ENABLE env variable true has no effect"
When setting

[code]

in the env section of the values.yaml file, this has no effect and the value of that environment variable stays set to false. Setting other env variables works fine.

[2020-11-09 18:52] salaboy commented on #100
@CodechCFA can you please share how are you actually setting that up in the `env` section?
Can you also run `helm template` to see the output `yaml` of the templates? Usually with that you can see what is being replaced and how.

[2020-11-09 19:49] CodechCFA commented on #100
I'm setting the environment variable in the env section

[code]

What happens is all of my env variables get set correctly except for `ZEEBE_BROKER_GATEWAY_ENABLE`. Since this env variable is being hardcoded to false in the statefulset of the broker, the `helm template` output shows as it doubling up on this env var, which looks like helm ends up ignoring the second definition and staying with the

[2020-11-10 00:17] CodechCFA commented on #100
I realize that setting `ZEEBE_BROKER_GATEWAY_ENABLE` to true is probably something I don't want to do since I'm running multiple broker nodes, however I cannot get any of the metrics to show up as listed in the docs here https://docs.zeebe.io/operations/metrics.html

Trying everything I can here but nothing is working. None of the `zeebe_stream_processor` or `zeebe_backpressure_requests_limit` met

[2020-11-11 17:54] npepinpe opened #101 "Support non-root deployments"
**Description**

It's not currently possible to support non-root deployments with the Helm charts. In order to do so, we need to:

1. Allow users to configure the StatefulSet's `.spec.template.securityContext` so users can add `runAsUser`, `runAsGroup`, and `fsGroup` (and set it to 1000 as recommended value)
1. Mount the `startup.sh` script from the ConfigMap to `/usr/local/zeebe/bin/startup.sh` i

[2020-11-20 09:33] daghb opened #102 "Upgrade to Helm v3"
Zeebe on Kubernetes deployment is based on Helm v2 which is end-of-life as of November 2020.

[2020-11-20 09:40] salaboy commented on #102
@daghb it is.. have you found any issues using the charts with Helm 3?

[2020-11-25 10:22] neermitt commented on #83
yes it did

[2020-11-25 10:22] #83 closed

[2020-12-01 13:38] shishirkh opened #103 "broker stuck at 'Bootstrap Broker-0 [7/11]: cluster services" step"
Trying to use a broker-gateway cluster setup inside an ipv6 environment, all the brokers are stuck at
Bootstrap Broker-0 [7/11]: cluster services

2020-12-01 13:30:01.926 [] [main] INFO  io.zeebe.broker.system - Bootstrap Broker-0 [7/11]: cluster services
2020-12-01 13:30:02.497 [] [raft-server-0-system-partition-1] WARN  io.atomix.raft.roles.CandidateRole - RaftServer{system-partition-1}{role=CAN

[2020-12-01 14:17] shishirkhandelwal29 commented on #83
It did not work for me.
which image version supports ipv6 for broker and gateway?

root@z-0-25-1-broker1-01:/usr/local/zeebe# zbctl status --address 240b:c0e0:202:5e2b:b424:2:0:81ea
Error: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp: address tcp/c0e0: unknown port"

it is treating address colons as the colon before port

[2021-01-19 20:43] iamyume opened #104 "Bringing back grafana with prometheus dependency"
It looks like that the chart dependency `prometheus-operator` was replaced by `prometheus` in commit [`2779f16b05632cf6a4fdd87acd7c41bcf0fae332`](https://github.com/zeebe-io/zeebe-cluster-helm/commit/2779f16b05632cf6a4fdd87acd7c41bcf0fae332)

From the `README.md` the prometheus-operator helm chart located at https://github.com/helm/charts/tree/master/stable/prometheus-operator has been deprecated

[2021-01-19 21:01] salaboy commented on #104
@iamyume that sounds like the right thing to do.. would you mind sending a PR for that?

[2021-01-20 01:03] iamyume commented on #104
I can definitely try creating a PR

[2021-01-20 09:00] salaboy commented on #104
@iamyume please do and let me know if you face issues.

[2021-01-22 15:40] #104 closed

[2021-02-12 18:13] ssxv commented on #1
`version: "2"

networks:
  zeebe_network:
    driver: bridge

services:
  gateway:
    restart: always
    container_name: gateway
    image: camunda/zeebe:0.26.0
    environment:
      - ZEEBE_LOG_LEVEL=debug
      - ZEEBE_STANDALONE_GATEWAY=true
      - ZEEBE_GATEWAY_NETWORK_HOST=0.0.0.0
      - ZEEBE_GATEWAY_NETWORK_PORT=26500
      - ZEEBE_GATEWAY_CLUSTER_CONTACTPOINT=node0:26502
      - ZEEBE

[2021-02-15 13:24] salaboy commented on #102
this is done already

[2021-02-15 13:24] #102 closed

[2021-02-15 13:26] #66 closed

[2021-02-18 05:14] roshan8 opened #106 "Gateway healthcheck fails [readiness check]"
Tried to setup zeebe-cluster using the operator. Everything seems to be working fine except gateway health check.

It's always throwing 1out_of_service response.
[code]

Please refer to this [slack](https://zeebe-io.slack.com/archives/C6WGNHV2A/p1613465496285000?thread_ts=1613111152.238700&cid=C6WGNHV2A) thread

[2021-03-09 18:36] salaboy opened #107 "Helm charts referencing the wrong images"
`helm install default-zeebe zeebe/zeebe-full-helm --values https://raw.githubusercontent.com/zeebe-io/zeebe-helm-profiles/master/default.yaml`

I Pod was not able to run since it dosn't not find container:
[code]

[2021-03-09 18:40] davidriskified commented on #107
I find it in 211 :-)

[2021-03-10 09:25] salaboy commented on #107
For those encountering this issue.. I am working on it, but in the meantime please use version 0.0.131 of the zeebe-full-helm chart.

[2021-03-12 10:38] salaboy commented on #107
solved in full 0.0.134 and cluster 0.0.213

[2021-03-12 10:38] #107 closed

[2021-04-16 20:24] falko opened #109 "How to disable the Elasticsearch Exporter?"
`elasticsearch.enabled: false` only disables the installation of the Elasticsearch cluster but I would like to also disable the Elasticsearch Exporter which is enabled by default in Zeebe.

I tried with `zeebeCfg: { exporters: {} }`, `zeebeCfg: { exporters: { elasticsearch: {} } }`, and
[code]
but it either kept starting the exporter or ended in a crash-loop.

[2021-04-16 21:02] falko commented on #109
I managed to disable it using the undocumented chart value `global.elasticsearch.disableExporter: true` introduced in commit d3faa923781b2470cf8fb4ea21fc6fe247815812

[2021-04-19 08:41] #109 closed

[2021-04-19 09:02] salaboy opened #111 "GKE Autopilot Clusters Constraints"
When trying to install the `zeebe-cluster-helm` chart I am getting:

[code]

[2021-04-26 07:45] aivinog1 commented on #106
Hey @npepinpe! I would like to take this. I have a couple of ideas on how can I implement this :)

[2021-05-10 15:25] npepinpe commented on #66
Just a short note, the Kafka exporter hasn't be updated yet for Zeebe 1.0, and will probably not be before the Helm chart is updated to work with Zeebe 1.0, since I'm maintaining it in my spare time :sweat_smile:

[2021-05-10 15:27] steinroe commented on #66
No worries, I am trying to use it with zeebe `0.26.3`. And btw. thanks for the great work on the exporter!

[2021-05-10 16:33] steinroe commented on #66
Adding

[code]

to the environment variables makes zeebe pickup the exporter, but I still cannot figure out how to set the config.

[2021-05-10 16:44] steinroe commented on #66
Sorry for the spam, but you can configure the kafka exporter using env variables like this:
[code]
The example is for configuring it to work with confluent, but you can pass any java config.

[2021-06-16 09:48] michelefa1988 opened #114 "Elastic search error when running zeebe"
When installing the helm chart with in build elastic search (using default settings), I get the following error

Does anyone know what could be causing this? Such an error is thrown by both`eebe-operate` and `zeebe-cluster-helm`, running docker image 1.0.0

`      at io.camunda.zeebe.util.sched.ActorThread.run(ActorThread.java:191) [zeebe-util-1.0.0.jar:1.0.0]
Caused by: org.elasticsearch.client.R

[2021-06-25 16:29] michelefa1988 commented on #114
Any updates on this?

[2021-07-05 16:51] sushiMix commented on #101
I did some work on it. I can submit you a PR.

I allow to set securityContext (add entry in README)
fix podSecurityContext indentation issue
Update mode to 0440 and 0770 (I separate volumes (same ConfigMap) for script and config to avoid chmod +x on config file).
If the scope is OK for you

[2021-07-07 07:54] npepinpe commented on #101
That was more of a feature request from me, I'm not that involved in this project anymore :smile: That said, you're always encouraged to opened PRs and the maintainers will review them :slightly_smiling_face:

[2021-07-07 22:10] falko opened #115 "values.yaml points to old Elastic version 6.8.5"
Zeebe 1.0.x [requires](https://docs.camunda.io/docs/reference/supported-environments/#zeebe) at least Elasticsearch 7.12.x

https://github.com/camunda-community-hub/zeebe-cluster-helm/blob/a046afcd97bdccca03cfe8790afe5c7cfd844a28/charts/zeebe-cluster-helm/values.yaml#L38

[2021-07-12 07:55] Zelldon commented on #115
thanks @falko yeah we have to fix this

[2021-07-13 12:16] nitram509 commented on #115
Cross-linking: this seems to be a duplicate #114

[2021-07-13 20:11] falko commented on #115
I knew I had seen this before. Just couldn't find it ;-)

[2021-07-21 14:22] michelefa1988 commented on #114
I can confirm that updating elastic search setting does fix the issue

`
elasticsearch:
  imageTag: 7.10.1`

[2021-08-03 15:18] #114 closed

[2021-08-03 15:18] #115 closed

[2021-08-20 06:46] #15 closed

[2021-08-20 06:49] ChrisKujawa commented on #22
I think this issue is out of date if not feel free to reopen it on the mono repo https://github.com/camunda-community-hub/camunda-cloud-helm

[2021-08-20 06:49] #22 closed

[2021-08-20 06:51] ChrisKujawa commented on #24
It is done in zeeqs so I assume we found a solution

[2021-08-20 06:51] #24 closed

[2021-08-20 06:53] ChrisKujawa commented on #69
I think this issue is out of date if not feel free to reopen it on the mono repo https://github.com/camunda-community-hub/camunda-cloud-helm

[2021-08-20 06:53] #69 closed

[2021-08-20 06:59] ChrisKujawa commented on #77
I think this issue is out of date if not feel free to reopen it on the mono repo https://github.com/camunda-community-hub/camunda-cloud-helm

[2021-08-20 06:59] #77 closed

[2021-08-20 07:00] ChrisKujawa commented on #89
This label is defined on the helm chart and persisted on packaging the chart it is not dynamic. It will not update if we use a different image.

[2021-08-20 07:00] #89 closed

[2021-08-20 07:01] ChrisKujawa commented on #100
I think this issue is out of date if not feel free to reopen it on the mono repo https://github.com/camunda-community-hub/camunda-cloud-helm

[2021-08-20 07:01] #100 closed

[2021-08-20 07:02] ChrisKujawa commented on #103
I think this issue is out of date if not feel free to reopen it on the mono repo https://github.com/camunda-community-hub/camunda-cloud-helm

[2021-08-20 07:02] #103 closed